services:

  elasticapi:
    container_name: ElasticApi
    image: ${DOCKER_REGISTRY-}elasticsearch
    build:
      context: .
      dockerfile: ElasticSearch/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ElasticsSearchSettings__Url=http://elasticsearch:9200/
      - ElasticApm__ServerUrl=http://apm-server:8200/
    ports:
     - ${EXPOSE_HTTP_CONTAINER_PORT}:80
     - ${EXPOSE_HTTPS_CONTAINER_PORT}:443
    networks:
      - elk

  elasticsearch:
    container_name: ElasticSearch
    image: elasticsearch:8.15.0
    ports:
      - "9200:9200"
    volumes: 
      - elasticsearch-data:/usr/share/elasticsearch/data
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      # - xpack.monitoring.enabled=true
      - xpack.watcher.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    networks:
      - elk

  kibana:
    container_name: Kibana
    image: kibana:8.15.0
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200/
    networks:
      - elk

  apm-server:
    image: docker.elastic.co/apm/apm-server:8.15.0
    container_name: apm-server
    depends_on:
      - elasticsearch
      - kibana
    cap_add: ["CHOWN", "DAC_OVERRIDE", "SETGID", "SETUID"]
    cap_drop: ["ALL"]
    ports:
      - "8200:8200"
    command: >
      apm-server -e
        -E apm-server.rum.enabled=true
        -E setup.kibana.host=kibana:5601
        -E setup.template.settings.index.number_of_replicas=0
        -E apm-server.kibana.enabled=true
        -E apm-server.kibana.host=kibana:5601
        -E output.elasticsearch.hosts=["elasticsearch:9200"]
    networks:
      - elk

networks:
  elk:
    driver: bridge

volumes:
  elasticsearch-data:
