services:

  elasticapi:
    container_name: ElasticApi
    image: ${DOCKER_REGISTRY-}elasticsearch
    build:
      context: .
      dockerfile: ElasticSearch/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:443;http://+:80
    ports:
     - ${EXPOSE_HTTP_CONTAINER_PORT}:80
     - ${EXPOSE_HTTPS_CONTAINER_PORT}:443
    networks:
      - elk

  elasticsearch:
    container_name: ElasticSearch
    image: elasticsearch:8.15.0
    ports:
      - "9200:9200"
    volumes: 
      - elasticsearch-data:/usr/share/elasticsearch/data
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      # - xpack.monitoring.enabled=true
      - xpack.watcher.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    networks:
      - elk

  kibana:
    container_name: Kibana
    image: kibana:8.15.0
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
    networks:
      - elk

networks:
  elk:
    driver: bridge

volumes:
  elasticsearch-data:
